# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.firebase/*
/.firebase

 

.cache

# testing
/coverage

# production
/build

# misc
.DS_Store
.idea
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
*.iml
.firebaserc
firebase.json
firebase-debug.log
.firebase